<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet: backend bilan aloqa uchun -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Tashqi xotiraga yozish: Downloads papkasiga tarjima qilingan
         faylni saqlash uchun. Android 12 va pastroq versiyalarda kerak;
         Android 13+ da /storage/emulated/0/Download kabi umumiy
         papkalarga yozish alohida runtime ruxsatisiz ham ishlaydi. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:label="Hujjat Tarjimon"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- open_file paketi tarjima qilingan faylni tashqi ilovalarda
             ochish uchun FileProvider talab qiladi -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <!-- Android 11+ (API 30+) uchun paket ko'rinishi cheklovi: PDF/DOCX
         ochuvchi ilovalarni topish uchun kerak -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/pdf" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
        </intent>
    </queries>
</manifest>
