# Bu fayl CodeMagic tomonidan avtomatik generatsiya qilinadi.
# Mahalliy build uchun quyidagilarni to'ldirib, "local.properties" deb saqlang.
sdk.dir=/path/to/Android/sdk
flutter.sdk=/path/to/flutter
flutter.versionCode=1
flutter.versionName=1.0.0
